@model IEnumerable<MusicShopAttempt.Data.Product>
@inject SignInManager<User> signInManager;
@inject UserManager<User> userInManager;
@using MusicShopAttempt.Data;
@using Microsoft.AspNetCore.Identity;
@{ ViewData["Title"] = "Index"; }

<h1>Продукти</h1>
@if (signInManager.IsSignedIn(User) && User.IsInRole(Role.Admin.ToString()))
{
<p>
    <a asp-action="Create"><i class="fa fa-2x fa-plus-square" aria-hidden="true"></i></a>
</p>}
@foreach (var item in Model)
{
<div class="card">
    <img class="card-img-top" src="~/images/@item.Picture" alt="Card image">
    <div class="card-body">
        <h5 class="card-title">
            <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
        </h5>
        <p class="card-text">@Html.DisplayFor(modelItem => item.Price)</p>
    </div>
</div>}