@model IEnumerable<MusicShopAttempt.Data.Genre>
@inject SignInManager<User> signInManager;
@inject UserManager<User> userInManager;
@using Microsoft.AspNetCore.Identity;
@using MusicShopAttempt.Data;

@{ ViewData["Title"] = "Index"; }

<h1>Жанрове</h1>

@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Създай</a>
</p>}
<table class="table">
    <thead>
        <tr>
            <th>
                Жанр
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.GenreName)
    </td>
    <td>
        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {

              <a asp-action="Edit" asp-route-id="@item.Id">Редактиране</a>
              <a asp-action="Delete" asp-route-id="@item.Id"> Изтриване </a>}
        <a asp-action="Details" asp-route-id="@item.Id">Детайли</a>
    </td>
</tr>}
    </tbody>
</table>