@model IEnumerable<MusicShopAttempt.Data.Genre>
@inject SignInManager<User> signInManager;
@inject UserManager<User> userInManager;
@using Microsoft.AspNetCore.Identity;
@using MusicShopAttempt.Data;

@{ ViewData["Title"] = "Index"; }

<h1>Жанрове</h1>

@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create"><i class="fa fa-2x fa-plus-square" aria-hidden="true"></i></a>
</p>}
<a asp-controller="Products" asp-action="GenreFilter"> Филтриране по жанр</a>
<table class="table table-borderless table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">
                Жанр
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           <tr>
              <td>
                @Html.DisplayFor(modelItem => item.GenreName)
              </td>
              <td>
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                 {

                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-2x fa-pencil" aria-hidden="true"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-2x fa-trash" aria-hidden="true"></i></a>
                 }
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-2x fa-info-circle" aria-hidden="true"></i></a>
              </td>
           </tr>
         }
    </tbody>
</table>