@model MusicShopAttempt.Models.SingerVM
@inject SignInManager<User> signInManager;
@inject UserManager<User> userInManager;
@using Microsoft.AspNetCore.Identity;
@using MusicShopAttempt.Data;

@{ ViewData["Title"] = "Details"; }

<h1>Детайли</h1>

<div>
    <h4>Изпълнители</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Изпълнител
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SingerName)
        </dd>
    </dl>
</div>
<div>
    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
<a asp-action="Edit" asp-route-id="@Model.Id"><i class="fa fa-2x fa-pencil" aria-hidden="true"></i></a>}

    <a asp-action="Index"><i class="fa fa-2x fa-reply" aria-hidden="true"></i></a>
</div>
