@{ ViewData["Title"] = "Home Page"; }
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://emusic.bg/media/slider/image/Ed-Sheeran-Equals_banner.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://emusic.bg/media/slider/image/Jason-Mraz-LaLaLaLoveSongs.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://emusic.bg/media/slider/image/MichaelBuble_Higher_Banner_920x390.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br />
<br />
<hr class="featurette-divider">
<br />
<br />

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle center" src="~/images/circle11.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Кибер евент</h2>
            <p>Възможност да получите албум с автограф, по случай Cyber Monday. Валидност - от 20.05 до 6.06</p>
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/images/circle2.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Музикална школа</h2>
            <p>Музикален магазин "Хармония" започва да предлага уроци по свирене на китара за начинаещи и напреднали!</p>
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/images/circle3.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Томбола</h2>
            <p>Специално за Вас през месец май всеки нов регистриран потребител има шанс да участва в томбола за билет за концерт</p>
        </div>
    </div>
</div>

<br />
<br />
<hr class="featurette-divider">
<br />
<br />

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Нашият екип - Dream Team - <span class="text-muted">взривява умове!!! </span></h2>
        <p class="lead">Започнали от аматьори и достигнали до професионалисти в музикалната индустрия!</p>
        <p>Ако искате да подкрепите нашия бизнес или да разберете нашата история и музикални премеждия - посетете профилите ни в социалните мрежи :)))</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="~/images/band.png" alt="Generic placeholder image">
    </div>
</div>

